input[type='checkbox'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
    outline: none;
    font-size: inherit;
    cursor: pointer;
    width: 2.0em;
    height: 2.0em;
    background: white;
    border-radius: 0.25em;
    border: 0.125em solid #555;
    position: relative;
}

input[type='checkbox']:checked {
    background: #adf;
}

input[type='checkbox']:checked:after {
    content: "✔";
    position: absolute;
    font-size: 2em;
    left: 0.0625em;
    top: -0.15em;
}