[mat-dialog-title] {
    display: flex;
    flex-direction: column;
    width: 100%;
}

[mat-dialog-title] header {
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    padding: 16px 0;
    border-bottom: 1px solid lightgray;
    gap: 15px;
}

[mat-dialog-title] header span {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    gap: 15px;
}

.bottom_buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 16px;
    gap: 16px;
}